@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #182226;
  margin: 1em auto 0 auto;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0px 8px 8px -4px #05AFF2;
          box-shadow: 0px 8px 8px -4px #05AFF2;
}

header h1 {
  color: #05AFF2;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.wrap {
  position: relative;
  background-color: #3B5159;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -1em auto 2em auto;
  padding: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0px 0px 8px 5px #05AFF2;
          box-shadow: inset 0px 0px 8px 5px #05AFF2;
}

.wrap .container {
  position: -webkit-sticky;
  position: sticky;
  top: 5em;
  z-index: 11;
  background-color: #182226;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 1em 0 0;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .container form .formGroup {
  margin: .5em 0;
  width: 100%;
}

.wrap .container form .formGroup label {
  color: #05C7F2;
  font-family: 'Raleway', sans-serif;
}

.wrap .container form .formGroup input[type="text"], .wrap .container form .formGroup select {
  color: #05C7F2;
  padding: .5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
  -webkit-box-shadow: 0 0 2px 2px #05AFF2;
          box-shadow: 0 0 2px 2px #05AFF2;
  font-family: 'Raleway', sans-serif;
}

.wrap .container form .formGroup input[type="text"]:focus, .wrap .container form .formGroup select:focus {
  outline: none;
}

.wrap .container form .formGroup ::-webkit-input-placeholder {
  color: rgba(5, 199, 242, 0.5);
}

.wrap .container form .formGroup :-ms-input-placeholder {
  color: rgba(5, 199, 242, 0.5);
}

.wrap .container form .formGroup ::-ms-input-placeholder {
  color: rgba(5, 199, 242, 0.5);
}

.wrap .container form .formGroup ::placeholder {
  color: rgba(5, 199, 242, 0.5);
}

.wrap .container form .formGroup select {
  padding: .15em;
  width: 100%;
}

.wrap .container form .formGroup .first {
  color: rgba(5, 199, 242, 0.5);
  margin: .5em 0 0 0;
}

.wrap .container form .formGroup .faded {
  color: rgba(5, 199, 242, 0.5);
}

.wrap .container form button[type="submit"] {
  color: #05C7F2;
  padding: .5em;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 1px 2px #05AFF2;
          box-shadow: 0 0 1px 2px #05AFF2;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  margin: .5em auto 0 auto;
}

.wrap .container form button[type="submit"]:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #182226;
  background: #05AFF2;
  font-weight: 700;
}

.wrap .musicEntries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.wrap .musicEntries .entries {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5em;
  font-family: 'Raleway', sans-serif;
  background: #182226;
  border-radius: 5px;
  margin: .15em;
}

.wrap .musicEntries .entries .edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #05AFF2;
  margin: 0 0 1em 0;
}

.wrap .musicEntries .entries .edit .fa-trash-alt {
  color: red;
  cursor: pointer;
}

.wrap .musicEntries .entries .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap .musicEntries .entries .info h5 {
  color: #05AFF2;
  font-weight: 700;
  height: 2em;
  background: rgba(5, 175, 242, 0.25);
  padding: .15em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .musicEntries .entries .info h4 {
  color: #A4BDBF;
  font-size: .75em;
  font-weight: 300;
}

.wrap .musicEntries .entries .info .constants {
  color: #A4BDBF;
}

.wrap .musicEntries .entries .info .favAlbum {
  margin: .15em auto;
  text-align: center;
}

.wrap .musicEntries .entries .info .favAlbum img {
  width: 100px;
  height: 100px;
  margin-left: .5em;
}
/*# sourceMappingURL=App.css.map */