@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');


$color1: #05AFF2;
$color2: #05C7F2;
$color3: #05DBF2;
$color4: #05F2F2;

$dark1: #182226;
$dark2: #3B5159;
$dark3: #69868C;
$dark4: #A4BDBF;


*{
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
}

body{
    font-family: 'Raleway', sans-serif;
}

.wrap{
    position: relative;
    background-color: $dark2;
    width: 50vw;
    margin: 10em auto;
    padding: 2em;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 5px 2px $color1;

    .container{
        background-color: $dark1;
        margin: 3em;
        padding: 1em;
        box-sizing: border-box;

        .formGroup{

            input[type="text"], select{
                font-size: 2em;
                color: $color2;
                width: 100%;
                padding: .5em;
                box-sizing: border-box;
                background: transparent;
                box-shadow: 0 0 2px 5px $color1;

                &:focus{
                    outline: none;
                }
            }

            ::placeholder{
                color: $color2;
            }

            select{
                margin: .5em 0;
            }
        }

        button[type="submit"]{
            font-size: 1em;
            color: white;
            padding: .5em;
            box-sizing: border-box;
            background: $color1;
            cursor: pointer;

            &:hover{
                padding: .5em;
                box-sizing: border-box;
                background: transparent;
                box-shadow: 0 0 2px 5px $color1;
                color: $color2;
            }
        }
    }

    .todo{
        color: $color2;

        .edit{
            display: flex;
            justify-content: space-between;

            i{
                font-size: 2em;
            }
        }
    }
}

