@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');


$color1: #05AFF2;
$color2: #05C7F2;
$color3: #05DBF2;
$color4: #05F2F2;

$dark1: #182226;
$dark2: #3B5159;
$dark3: #69868C;
$dark4: #A4BDBF;


*{
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
}

header{
    position: sticky;
    top: 0;
    z-index: 10;
    background: $dark1;
    // width: 60%;
    margin: 1em auto 0 auto;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 8px 8px -4px $color1;

    h1{
        color: $color1;
        font-size: 1.5em;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
    }
}

.wrap{
    position: relative;
    background-color: $dark2;
    display: flex;
    // width: 60vw;
    margin: -1em auto 2em auto;
    padding: 2em;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 8px 5px $color1;

    .container{
        position: sticky;
        top: 5em;
        z-index: 11;
        background-color: $dark1;
        // max-width: 30vw;
        height: fit-content;
        margin: 0 1em 0 0;
        padding: 1em;
        box-sizing: border-box;

        form{
            display: flex;
            flex-direction: column;
            align-items: center;

            .formGroup{
                margin: .5em 0;
                width: 100%;

                label{
                    color: $color2;
                    font-family: 'Raleway', sans-serif;
                }

                input[type="text"], select{
                    color: $color2;
                    padding: .5em;
                    box-sizing: border-box;
                    background: transparent;
                    box-shadow: 0 0 2px 2px $color1;
                    font-family: 'Raleway', sans-serif;

                    &:focus{
                        outline: none;
                    }
                }

                ::placeholder{
                    color: rgba($color: $color2, $alpha: .5);
                }

                select{
                    padding: .15em;
                    width: 100%;
                }

                .first{
                    color: rgba($color: $color2, $alpha: .5);
                    margin: .5em 0 0 0;
                }

                .faded{
                    color: rgba($color: $color2, $alpha: .5);
                }

            }

            button[type="submit"]{
                color: $color2;
                padding: .5em;
                background: transparent;
                box-sizing: border-box;
                box-shadow: 0 0 1px 2px $color1;
                cursor: pointer;
                border-radius: 5px;
                font-family: 'Raleway', sans-serif;
                margin: .5em auto 0 auto;

                &:hover{
                    box-sizing: border-box;
                    color: $dark1;
                    background: $color1;
                    font-weight: 700;
                }
            }
        }
    }

    .musicEntries{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: fit-content;

        .entries{
            // display: flex;
            justify-content: center;
            padding: .5em;
            font-family: 'Raleway', sans-serif;
            background: $dark1;
            border-radius: 5px;
            margin: .15em;

            .edit{
                display: flex;
                justify-content: space-between;
                color: $color1;
                margin: 0 0 1em 0;

                .fa-trash-alt{
                    color: red;
                    cursor: pointer;
                }
            }

            .info{
                display: flex;

                h5{
                    color: $color1;
                    font-weight: 700;
                    height: 2em;
                    background: rgba($color: $color1, $alpha: .25);
                    padding: .15em;
                    box-sizing: border-box;
                    align-items: center;
                    }

                h4{
                    color: $dark4;
                    font-size: .75em;
                    font-weight: 300;
                }

                .constants{
                    color: $dark4;
                }

                .favAlbum{
                    margin: .15em auto;
                    text-align: center;

                    img{
                        width: 100px;
                        height: 100px;
                        margin-left: .5em;
                    }
                }
            }
        }
    }
}

